* {
    margin: 0;
    padding: 0;
}

/* start shared style */
body {
    font-family: 'Crimson Text', serif;
    font-family: 'Lato', sans-serif;
}

.btn {
    padding: 20px 40px;
    color: #FFF;
    font-size: 20px;
    border: 0;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
}

.title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

/* start header style */
.header-container {
    background: rgba(229, 84, 115, 0.10);
    padding: 0 120px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 630px;
}

.header-title {
    color: #272727;
    font-family: Lato;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    width: 530px;
    margin: 20px 0;

}

.header-img {
    width: 500px;
    height: 630px;
}

/* start feature style */
.feature-container {
    height: 640px;
    margin: 100px 120px 50px 120px;
}

.feature-info {
    display: flex;
    gap: 20px;
}

.feature {
    text-align: center;
    height: 380px;
    width: 260px;
    margin: 0 40px;

}

.feature-img {
    width: 90%;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 80px 40px 0 40px;
}

/* #first-img {
    background: rgba(167, 33, 98, 0.15);
} */

/* #second-img {
    height: 350px;
    width: 245px;
    background: rgba(5, 151, 160, 0.15)
} */

/* #third-img {
    background: rgba(71, 125, 17, 0.15);
    width: 83%;
} */

.feature-des {
    text-align: center;
    padding: 20px 0;
    display: flex;
    width: 520px;
    margin: auto;
}

.flower-name {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin: 25px 0;
    text-decoration-line: underline;
}

/* start contact style */
.contact-container {
    margin: 50px 120px 100px 120px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 40px;
}

.contact-info img {
    width: 88px;
    height: 88px;
}

.contact-info p {
    color: rgba(39, 39, 39, 0.80);
    font-size: 20px;
    font-style: normal;
    margin-top: 20px;
}

/* start hot deal style */
.hot-deal-container {
    background: rgba(229, 84, 115, 0.10);
    padding: 0 200px;
    display: flex;
    height: 620px;
    justify-content: space-between;
    align-items: center;
    height: 630px;
    margin-bottom: 100px;
}

.hot-deal-info {
    text-align: center;
}

.text-primary {
    color: #E55473;
}

/* start instagram section style */
.instagram-container {
    margin: 50px 120px;
}

.instagram-title {
    text-align: center;
    padding: 20px 0;
    display: flex;
    width: 520px;
    margin: auto;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 250px;
    height: 300px;
}

.card img {
    width: 100%;
}